
<br><br><br><br>
<h1>Assignments#new</h1>
<h2>Select a courier</h2>
<%= form_for @assignment do |f|%>
<%= f.text_field :courier_id%>
<%= f.submit "assign the courier"%> 
<% end%>
<p>Find me in app/views/assignments/new.html.erb</p>
