<br><br><br><br>
<h2>Login</h2>
<%= form_tag :action => 'create' do %>
	<div><input type = "text" name = "name" placeholder =  "your name"></div>
	<div><input type = "password" name = "password" placeholder =  "password"></div>
	<div>  <input type = "submit" value = "submit"</div>
	<%end%>

	 <br> or <%= link_to 'signup', '/'%>

