
<<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<br><br><br><br>
This is Courier index page<br>
<% @couriers.each do |c|%><br>
<%= c.name%><br>
<%= c.location%><br>
<%= c.phone%><br>
<% end %><br>

<%= link_to 'create new courier', new_courier_path %>
</body>
</html>